parameters:
    level: 8
    paths:
        - src/
        - plugins/
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
